.lib-type {
    width: 100%;
    display: flex;
    margin: 3px 0 0 0;

    label {
        flex: 1;
        text-align: center;
        padding: 0;
    }
}

.search-bar {
    padding: 10px 0;
    border: 1px solid #e2e2e2;
    border-width: 1px 0;
}

.top-panel {
    flex: auto;
}

.subtype-group {
    width: 100%;
}

.subtype-btn {
    width: 100%;
    margin-bottom: 4px;
    text-align: center;
    color: #666;

    &.ant-radio-button-wrapper-checked {
        color: #c40100;
    }

    i {
        color: #999;
    }
}

.list {
    // position: fixed;
    // top: 300px;
    // bottom: 62px;
    width: 100%;
    margin: auto;
    overflow: auto;
}

.list-group {
    width: 100%;
}

.list-item {
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 70px 0 18px;
    border-bottom: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    overflow: hidden;

    &:before {
        display: none;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background: #c40100;
    }

    &:hover {
        background: #f6f6f6;
        &:before {
            display: block;
            box-shadow: 0 1px 5px 0 rgba(255, 57, 57, 0.69);
        }
    }

    &.list-item-play {
        &:before {
            display: block;
        }
        .list-item-c {
            line-height: 20px;
        }

        .ico-sound {
            background-position-y: -14px;
            animation: soundPlay 1s steps(1, start) infinite;
        }
    }
}

.list-item-c {
    position: relative;
    height: 100%;
    transition: all 0.3s;

    time {
        float: right;
        color: #999;
        margin-left: 10px;
    }
}

.ico-sound {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #999;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    background: url(../images/sound_play.png) -28px 0 no-repeat;
    cursor: pointer;

    &:hover {
        background-position-y: -14px;
    }
}

@keyframes soundPlay{
    0% {
        background-position-x: -28px;
    }

    33.33% {
        background-position-x: 0;
    }

    66.66% {
        background-position-x: -14px;
    }

    100%{
        background-position-x: -28px;
    }
}

.list-item-r {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 40px;
    line-height: 40px;
}

.ico-status {
    color: #999;
    font-size: 16px;

    &:hover {
        color: #cf0100;
    }
}

.list-item-radio {
    position: absolute;
    top: 50%;
    right: 20px;
    margin: 0;
    transform: translate(0, -50%);
}

.slider {
    width: 99%;
    margin: 2px 0 0 7px;
}

.search-word {
    border-bottom: 1px solid #ccc;

    .tit {
        height: 26px;
        line-height: 26px;
        margin-bottom: 0;
        color: #999;
    }

    .warning-info {
        font-size: 12px;
        color: #999;

        i {
            font-size: 14px;
            color: #cf0302;
            margin-right: 5px;
        }
    }
}

:global {
    .lib-type {
        .ant-radio-button-wrapper {
            height: 26px;
            line-height: 26px;
        }
    }

    .filter-panel {
        .ant-tabs-content {
            padding-bottom: 10px;
            // border-bottom: 1px solid #ccc;
            overflow: hidden;

            &.hide {
                height: 73px;
            }
        }
        .ant-tabs-bar {
            border: none;
            margin-bottom: 0;
        }
        .ant-tabs-ink-bar {
            display: none !important;
        }

        .ant-radio-button-wrapper-checked {
            color: #c40100;
        }
    }

    .audio-slider {
        .ant-slider-rail {
            background: #ccc;
        }
    }
}